
<div class="pricipal">
    <div  id="teste" class="row justify-content-md-center">
        <div class="col col-lg-4"  role="alert">
            <div class="alert alert-info">
                <div class="row justify-content-md-center"  >
                    <div class="col col-lg-10">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                  </div>
                  <div class="row justify-content-md-center"  >
                    <div class="col col-lg-10">
                        <label for="exampleInputEmail1" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                  </div>
                  <div class="botao">
                    <button type="submit" class="btn btn-primary">Login</button>
                  </div>
              </div>
              
        </div>
    </div>
</div>





  